
section {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

body {
  color: white;
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 35);
  scroll-behavior: smooth;
  cursor: none;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  animation : gradient 15s ease infinite ;
  background: linear-gradient(315deg, rgb(4, 27, 42) 3%, rgba(6,68,105,1) 38%, rgb(24, 52, 65) 68%, rgb(0, 0, 0) 98%);
  background-size: 400% 400%;
  background-attachment: fixed;
  
}
#custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform-origin: center;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}
*::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.PreIntro-container {
  font-size: 25px;
  color: rgb(121, 111, 255);
  font-weight: lighter;
  transition: .5s;
  margin-bottom: 6px;
  animation: colorchange 15s ease-in-out infinite;
}

.intro-container {
  font-size: 50px;
  font-weight: lighter;
  transition: .5s;
  margin-top: 0;
}

#element {
  transition: .5s;
  font-size: 2vh; 
  color: rgb(166, 166, 166);


}
.OffreDescription{
  color: rgba(166, 166, 166, 0.573);
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  padding: 0;
  
}
.full-container {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}

.right-container {
  width: 100%;
  animation: fade 2s ease-in-out;
}
.left-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Mypicture {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: .5s;
}
.left-group h3{
  font-size: 5vh;
  text-align: center;
}
.left-group .introduction{
  font-size: 2vh;
  color: rgb(166, 166, 166);
  font-weight: lighter;
}
#navigationBar{
  cursor: none;
}
.intro {
  margin-top: 50px;
}


.letterOfPresentation {
  font-size: 16px;
  color: rgb(121, 111, 255);
  font-weight: lighter;
  animation: colorchange 15s ease-in-out infinite;
}
@keyframes colorchange{
  0% {
    color: rgb(121, 111, 255);
  }
  25%{
    color: WHITE;
  }
  100%{
    color: rgb(121, 111, 255);
  }
}

/* bottom navigation bar  */
.Left-group{
  z-index: 1000;
  bottom: 0;
  position: fixed;
  width: fit-content;
  height: 3%;
  transition: height 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 69, 197, 0.5);
  border-radius: 25px 25px 0px 0px;  
}
.Left-group:hover{
  height: 7%;
  transition: height .5s ease-in-out ;
}
.LinkVideos{
padding: 10px;
}
.LinkVideos:hover{
  padding-bottom: 20px;
  border-radius: 2px;
}
.LinkVideos a:focus{
  text-decoration:overline;
}
.Link3D{
  padding: 10px;
}
.Link3D:hover{
  padding-bottom: 20px;
}
.Link3D a:focus{
  text-decoration:overline;
}
.LinkGames{
  padding: 10px;
}
.LinkGames:hover{
  padding-bottom: 20px;
}
.LinkGames a:focus{
  text-decoration:overline;
}
.LinkPictures{
  padding: 10px;
}
.LinkPictures:hover{
  padding-bottom: 20px;
}
.LinkPictures a:focus{
text-decoration: overline;
}

/* background effect */
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.Left-group a{
  color: white;
}
.navigationBar {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  position: fixed;
  background: linear-gradient(90deg, rgb(4, 27, 42) 0%, rgba(0,0,53,1) 100%);
  font-family: 'Rubik', sans-serif;
  color: white;
  opacity: 0.8;
  margin: 0;
  top: 0;
}

.PageName {
  font-size: 40px;
  color: white;
  padding: 0 0 0 10%  ;
}

.NavMenuButtons {
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
  transition: .5s;
  font-size: 20px;
  display: inline-block;
  padding: 15px;
  cursor: none;
}
/* cv download button */
.wiggling{
  padding: 50px;
  animation: wiggle 2s linear infinite;
}
.CV{
  text-align: center;
  background-color: rgb(0, 25, 79);
  border-radius: 7px;
  box-shadow: 
  0 0 5px rgb(13, 0, 255),
  0 0 15px rgb(255, 255, 255);
  padding: 5px;
  

}
.wiggling a{
  color: white;
  cursor: none;
  z-index: -1;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
a{
  list-style: none;
  text-decoration: none;
}
.CV a {
  cursor: none;
  color: white;
  font-weight: bold;
  font-size: 2.5vh;
  
  
}
.CV:hover{
  background-color: rgb(0, 25, 79);
  transition: all .7s ;
  border-radius: 7px;
  box-shadow: 
    0 0 5px rgb(82, 151, 255),
    0 0 15px rgb(82, 151, 255),
    0 0 30px rgb(102, 82, 255);
  padding:10px;
}
.NavMenuButtons:hover {
  background-color: rgb(82, 137, 255);
  transition: all .7s ;
  border-radius: 7px;
  box-shadow: 
    0 0 5px rgb(82, 151, 255),
    0 0 15px rgb(82, 151, 255),
    0 0 30px rgb(102, 82, 255);
}
.Second-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 800px;
  text-align: center;
}
@keyframes fade {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
.services{
  text-align: center;
  animation: fade 1s ease-in-out ; 
  font-size: 50px;
  font-weight: lighter !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 601px) and (max-width: 1400px){
  .navigationBar {
    align-items: center;
    height: 10%;
  }
  .full-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  }
  .CV{
    width: 100%;
  }
  .PageName{
    font-size: 30px;
  }
  .NavMenuButtons{
    margin: 10px 0; 
    font-size: 16px;
    padding: 10px 15px;
  }
  #element i{
    font-size: 30px;
  }
  .intro-container {
    font-size: 20px;
  }

  .PreIntro-container {
    font-size: 18px;
  }

  .Mypicture {
    width: 100%;
    aspect-ratio:1/1 ;
  }
 
  .developper {
    font-size: 12px;
  }
  .services_container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

    grid-gap: 1rem;
    display: block;
  }
  .Modeling{
    padding: 5%;
  }
  .Game_Making{
    padding: 5%;

  }
  .Animation{
    padding: 5%;
  }
  .Video_editing{
    padding: 5%;
  }
  .Image_Editing{
    padding: 5%;
  }
  .cols a{
    width: 50%;
    height: 50%;
  }
  .cols img{
    width: 100%;
    height: 50%;
  }
}


@media (max-width: 600px) {
  body{
    cursor: none;
  }
  .navigationBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 14vh;
    width: 100%;
  }
  .full-container{
    margin-top: 10vh;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

  }
  #custom-cursor{
    display: hidden;
  }
  .skillsSECTION{
    width: 50% ;
    display: grid;
    grid-template-columns: auto;
  }
  .PageName {
    font-size: 20px;
  }
  .CV{
    width: 50%;
  }
  .NavMenuButtons{
    margin: 10px 0; 
    font-size: 16px;
    padding: 10px 15px;
  }
  #element i{
    font-size: 25px;
  }
  .developper {
    font-size: 10px;
  }
  .letterOfPresentation{
    text-align: center;
    font-size: 1.25vh;
    padding: 10px;
  }
  .services_container {
    grid-gap: 1rem;
    display: block;
  }
  .services{
  font-size: 5vh;
  }
    .cols a{
      width: 50%;
      height: 50%;
    }
    .cols img{
      width: 100%;
      height: 50%;
    }
.MyServices p{
  font-size: 10px;
}
.ShowMoreButton{
  visibility:visible;
}
}

/* what i offer ? */
.MyServices{
  height: 100%;
  width: 100%;
}
.MyServices a{
  color: white;
}

.ServicesText{
  text-align: center;
  margin: 0;
  padding-bottom: 5%;
  padding-top:3%;
}
.MyServices pre{
  padding: 20px;
}
.fadein {
  animation: show 1s ease-in-out;
}
@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}


/* skills percentage here */
.myskillsTEXT{
  font-size: 5vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter !important;
  font-size: 50px;
  text-align: center;
}
.skills_container {
  width: 100%;
  height: 3vh;
  background-color: #ddd;
  border-radius: 25px;
  text-align: right;
  color: white;
}
.skillsSECTION{
  width: 100%;
}
.skillsGD {
  width: 79%;
  height: 100%;
  background-color: #2196F3;
  border-radius: 25px;

}
.skills3D {
  width: 65%; 
  height: 100%;
  background-color: #2196F3;
  border-radius: 25px;

}
.skillsVE {
  width: 75%; 
  height: 100%;
  background-color: #2196F3;
  border-radius: 25px;

}
.skillsIE {
  width: 51%; 
  height: 100%;
  background-color: #2196F3;
  border-radius: 25px;

}
.FED{
  width: 45%;
  height: 100%;
  background-color: #2196F3;
  border-radius: 25px;
}
.projectsTEXT{
  font-size: 5vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter !important;
  font-size: 50px;
  text-align: center;
}
.Video-Container div a img {
  border: solid 2px white;
  cursor: none;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;

}
.Video-Container  {
  display: grid;
  gap: 5%; 
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  justify-content: center;
  place-self: center;
  padding: 5%;
}
.cols a:hover{
  border:solid 2px red ;
}
.hideText{
  font-size: 12px;
}
.MyServices p{
  color: rgb(148, 148, 148);
  text-align: center;
}
.MyServices img{
  max-width:100%;
  max-height:100%;
  border-style:solid;
}
.services_container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  justify-items: center;
}
.services_container p {
  font-size: 1.2vh;
}
.services_container img{
  border-radius: 50%;
}
.Video-Container h4{
  text-align: center;
  text-decoration:underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(121, 111, 255);
  animation: colorchange 20s ease-in-out infinite;
}


button {
  background-color: transparent;
  border: none;
  font-size: 1.5vh;
  color: rgba(255, 255, 255, 0.188);
  align-self: center;
  cursor: none;
  
}
.centering{
  text-align: center;
}
button:hover{
   color: red;
   transition: color .1s ease-in-out;
}

.Game_Making{
  width: 50%;
}
.Animation{
  width: 50%;
}
.Video_editing{
  width: 50%;
}
.Image_Editing{
  width: 50%;
}
.Modeling{
  width: 50%;
}
